/* Empty. Add your own CSS if you like */


/*body,html{
	overflow: auto;
}*/

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/*.pane,
.view {
	overflow: auto!important;
}*/

.content {
	height: 100%;
	width: 100%;
}


/*顶部导航*/

#top-nav {
	background: #272727;
	line-height: 35px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

#top-nav .ion-search {
	color: #fff;
	font-size: 25px;
	padding-left: 10px;
}

#top-nav .ion-grid {
	color: #fff;
	font-size: 25px;
	padding-left: 10px;
}

#top-nav .tit {
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
}

.hd-nav {
	width: 500px;
	line-height: 18px;
}

.hd-nav>div {
	text-align: center;
}

.hd-nav>div>a {
	text-decoration: none;
	color: #FFFFFF;
}


/*内容区域*/


/*底部导航*/

.tabs {
	position: fixed;
	height: 50px;
	background: #272727;
	bottom: -2px !important;
	left: 0;
	right: 0;
	padding: 0;
	z-index: 999;
	background: #272727 !important;
	top: auto!important;
}

.bot-nav div {
	text-align: center;
	font-size: 22px;
	color: #FFFFFF;
}

.bot-nav .tp {
	padding: 0;
}

.bot-wz {
	font-size: 12px;
}

.bot-nav a {
	text-decoration: none;
	color: #FFFFFF;
}

.tab-item .icon {
	font-size: 26px;
	padding-top: 5px;
}

ion-tabs.tabs-color-active-positive .tab-item {
	color: #FFFFFF;
}


/*内容*/

.con {
	background-color: #F5F5F5;
	padding-bottom: 55px;
}

.list {
	background-color: #ffffff;
	width: 100%;
	padding: 0 20px;
	margin-bottom: 5px;
}

.content {
	overflow: auto;
}

.author {
	padding: 10px 0;
	height: 35px;
	line-height: 12px;
}

.au-img {
	border-radius: 50%;
}

.con .list .row,
.con .list .col {
	padding: 0;
	margin: 0;
}

.list-title {
	color: #333;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.sp {
	font-size: 10px;
	vertical-align: middle;
	color: #BBBBBB;
}

.list-info {
	padding-bottom: 5px;
}

.modal-backdrop,
.modal-backdrop-bg {
	z-index: 9999 !important;
}


/*搜索*/

#ca-bt {
	color: #000;
	font-size: 18px;
	margin: 15px 0 15px 280px;
}

.ser-input {
	border-bottom: 2px solid #111111;
	height: 40px;
	position: relative;
}

.ser-input input {
	width: 90%;
	height: 35px;
	padding-left: 20px;
}

#se {
	padding-left: 30px;
	padding-top: 0px;
}

.ser-input .ion-search {
	position: absolute;
	left: -2px;
	top: 10px;
	font-size: 18px;
	z-index: 9;
}

.rsc {
	color: #A4A4A4;
	padding-top: 30px;
}

#se .rsc-btn {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 16px;
}


/*弹出导航*/

.h-left-nav {
	background-color: #252525;
	height: 100%;
	width: 100%;
	z-index: 9999999!important;
}

.nav-butt {
	padding-top: 20px;
	padding-left: 40px;
}

.nav-butt a {
	text-decoration: none;
	font-size: 30px;
	color: #FFFFFF;
}

.tu {
	width: 100%;
	height: 75%;
	overflow: hidden;
	margin-top: 30px;
}

.h-slt-nav {
	width: 1200px;
}

.h-slt-nav>div {
	background-color: #252525;
	height: 100%;
}
.tu #top-nav{
	background:#000000;
}
.tu .zzzz{
	background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.tu .view-container {
	width: 63.3%;
	height: 90%;
}
.tu .buttons{
	display: none;
}
.tu .pane {
	overflow: hidden!important;
	background: none;
  height: 336px;
}

.tu .pane .list .row img {
	width: 84px;
	height: 63px;
}

.tu .pane .banner #wenzi {
	font-size: 12px;
	bottom: 15px;
	font-weight: 100;
	line-height: 18px;
}

.tu .pane .list-title {
	font-size: 10px;
	font-weight: 100;
	line-height: 16px;
}

.h-title {
	color: #fff;
	text-align: center;
	background: #000;
	line-height: 30px;
}
.tu .view-container .scroll{
	overflow: hidden;
}

/*个人简历*/

.bg {
	background: url(../img/app-01.jpg);
	background-size: 100% 100%;
	padding-top: 44px;
	height: 100%;
}

.bg .rm .res {
	font-size: 40px;
	color: #fff;
	margin-top: 25px;
	height: 40px;
	line-height: 40px;
	margin-left: 30px;
}

.bg .img img {
	width: 70px;
	height: 69px;
	margin-top: 28px;
	margin-left: 45px;
	border: 2px solid #fff;
	padding: 2px;
}

.bg .rm .name {
	color: #fff;
	margin-left: 30px;
	margin-top: 10px;
	font-family: cursive;
}

.bg .about {
	color: #fff;
	font-size: 16px;
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 30px;
}

.bg .about .name {
	display: inline-block;
	width: 50px;
}

.bg .about .conn {
	margin-left: 10px;
}

.bg .about li {
	height: 40px;
	line-height: 40px;
}

.bg .titt {
	color: #fff;
	background: rgba(184, 183, 189, .3);
	width: 165px;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	margin-top: 30px;
	padding: 0 5px;
}

.triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 30px solid rgba(184, 183, 189, .3);
	border-right: 40px solid transparent;
	margin-top: 30px;
}


/*分类*/
.ccon{
	padding-top: 44px;
}
.ccon .row,
.ccon .col {
	padding: 0;
	margin: 0;
}

.ccon .row {
	position: relative;
}

.ccon .col {
	height: 133px;
}

.ccon .fir {
	margin-top: -5px;
}

.cen {
	text-align: center;
	line-height: 25px;
	font-size: 22px;
	font-weight: bold;
    padding-top: 40px!important;
}

.Share>div {
	height: 133px;
}
.Share{
	padding-top: 44px;
	overflow: auto;
	margin-bottom: 44px;
}
.Details{
  margin-top: 2rem;
}

.Details .info img {
	width: 100%;
}

.Details .ttt {
	position: relative;
}

.Details span {
	color: #FFFFFF;
}

.Details .author {
	position: absolute;
	bottom: 20px;
	left: 30px;
}

.Details .author img,
.Details .author span {
	vertical-align: middle;
}

.Details .ccc {
	padding: 0 25px;
}

.Details .d-title {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	padding:  10px 0;
}
.Details .ion-android-arrow-back,
{
	position: fixed;
	top: 30px;
	left: 30px;
	font-size: 30px;
	color: #FFF;
	background-color: rgba(0,0,0,0.3);
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
}
.Details_xq{
  margin-top: 0px;
}
.ion-android-arrow-back{
	font-size: 30px;
	color: #FFF;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
}
.info{
  margin-bottom: 81px;
}
#x{
	z-index: 1000;
}
#x .sea{
	line-height: 40px;
	padding-left: 15px;
}
