<!--分类-->
<ion-header-bar align-title="left" class="dark row" id="top-nav">
		<div class="buttons col-10">
			<a class="ion-grid" href="#/nav/n"></a>
		</div>
		<div class="col tit">
			导航
		</div>
		<div class="buttons col-10" >
			<a class="ion-search" href="#/tab/search"></a>
		</div>
	</ion-header-bar>
<div class="ccon" ng-controller="ccon">
	<div class="row fir" ng-click="sy()">
		<div class="col">
			<img src="img/66.jpg" width="100%" height="100%" />
		</div>
		<div class="col cen" style="background:#ff5252; color: #fff;">
			精彩<br />
			大学
		</div>
	</div>
	<div class="row" ng-click="qd()">
		<div class="col cen" style="background: #5496e4; color: #fff;">
			爱学<br />
			频道
		</div>
		<div class="col">
			<img src="img/cl-01.jpg" width="100%" height="100%" />
		</div>
	</div>
	<div class="row"  ng-click="xw()">
		<div class="col ">
			<img src="img/74.jpg" width="100%" height="100%" />
		</div>
		<div class="col cen" style="background: #f6be1a; color: #FFF;">
			新闻<br />
			资讯
		</div>
	</div>
	<div class="row"  ng-click="yd()">
		<div class="col cen" style="background: #198b3f; color: #fff;">
			考研<br />
			攻略
		</div>
		<div class="col">
			<img src="img/cl-04.jpg" width="100%" height="100%" />
		</div>
	</div>
</div>
