<div class="h-left-nav">
	<div class="nav-butt">
		<a class="ion-grid" href="#/tab/tj"></a>
	</div>
	<div class="tu">
		<ion-scroll zooming="true" direction="x" style="height: 100%; width: 100%; margin: 0 auto;">
			<div class="row h-slt-nav" style="height: 100%;">
				<div class="col">
					<a href="#/tab/tj">
					<ion-nav-view name="nav-tj">
						<div class="zzzz" ></div>
					</ion-nav-view>
				    </a>
				</div>
				<div class="col">
					<a href="#/tab/xs">
						<ion-nav-view name="nav-xs"><div class="zzzz" ></div></ion-nav-view>
					</a>
				</div>
				<div class="col">
					<a href="#/tab/qd">
						<ion-nav-view name="nav-qd"><div class="zzzz" ></div></ion-nav-view>
					</a>
				</div>
				<div class="col">
					<a href="#/tab/sy">
						<ion-nav-view name="nav-sy"><div class="zzzz" ></div></ion-nav-view>
					</a>
				</div>
				<div class="col">
					<a href="#/tab/yd">
						<ion-nav-view name="nav-yd"><div class="zzzz" ></div></ion-nav-view>
					</a>
				</div>
			</div>
		</ion-scroll>
	</div>

</div>