<!--我-->

<ion-header-bar align-title="left" class="dark row" id="top-nav">
		<div class="buttons col-10">
			<a class="ion-grid" href="#/nav/n"></a>
		</div>
		<div class="col tit">
			BLOG
		</div>
		<div class="buttons col-10" >
			<a class="ion-search" href="#/tab/search"></a>
		</div>
	</ion-header-bar>
<div class="bg" ng-controller="login">
	<div class="rm fl">
		<div class="res">About Me</div>
		<div class="name">While there is life there is hope.</div>
	</div>
	<div class="img fl">
		<img src="img/t-img.jpg"/>
	</div>
	<div class="clear"></div>
	<div class="">
		<div class="titt fl">Basic Information</div>
		<div class="triangle-bottomleft fl"></div>
		<div class="clear"></div>
	</div>

	<ul class="about">
		<li><span class="name">Name</span> <span>:</span> <span class="conn">WANGWEIQIANG</span></li>
		<li><span class="name">Sex</span> <span>:</span> <span class="conn">MAN</span></li>
		<li><span >Date Of Birth</span> <span>:</span> <span class="conn">1994-06-16</span></li>
		<li><span class="name">Tel</span> <span>:</span> <span class="conn">15865501591</span></li>
	</ul>
</div>



