<ion-header-bar align-title="left" class="dark row" id="top-nav">
		<div class="buttons col-10">
			<a class="ion-grid" href="#/nav/n"></a>
		</div>
		<div class="col tit">
			分享
		</div>
		<div class="buttons col-10" >
			<a class="ion-search" href="#/tab/search"></a>
		</div>
	</ion-header-bar>
<div class="Share">
<div class="s-01">
	<img src="img/images/s-01.jpg" width="100%" height="100%"/>
</div>
<div class="s-02">
	<img src="img/images/s-02.jpg" width="100%" height="100%"/>
</div>
<div class="s-03">
	<img src="img/images/s-03.jpg" width="100%" height="100%"/>
</div>
<div class="s-04">
	<img src="img/images/s-04.jpg" width="100%" height="100%"/>
</div>
</div>